body {
	margin: 0;
	background-color: none;
}

#info {
	position: absolute; 
	color: black; 
	margin: 70px;
	width: 500px; 
	font-size: 30px; 
	line-height: 1.5; 
	font-family: arial;
	letter-spacing: -3.5px;
	/*z-index: 10000000;*/
}

.short {
	/*background-color: cyan;*/
	position: absolute; 
	color: black; 
	margin-top: 40px;
	margin-left: 30px;
	width: 300px; 
	font-size: 16px; 
	line-height: 1.5; 
	font-family: arial;
	letter-spacing: 1.4px;
	display: none;
}

@media only screen and (max-width: 812px) {

    .short {
    	display: inline-block;
    }

    .full {
    	display: none;
    }
}

#name {
	color: black;
}

#email {
}

a {
	color: black;
	display: inline; 
	margin-left: 0px; 
	text-decoration: underline;
}

canvas {
/*	height: 100vh;
	width: 100vw;*/
	/*background-color: yellow;*/
	mix-blend-mode: multiply;
	position: absolute;
	right: 0;
}